---
layout: default
title: Beranda
---

<div class="hero">
    <h2>Selamat Datang di Dapur Kami 🍳</h2>
    <p>Temukan koleksi resep favorit keluarga yang diwariskan dari generasi ke generasi.</p>
</div>

<h2 class="section-title">Telusuri Resep</h2>
<div class="recipe-grid">
    {% for post in site.posts %}
    <a href="{{ post.url | relative_url }}" class="recipe-card">

        <div class="card-image">
            {% if post.image %}
            <img src="{{ post.image | relative_url }}" alt="Gambar untuk {{ post.title }}">
            {% else %}
            <img src="https://i.imgur.com/gC5842V.jpg" alt="Gambar resep default">
            {% endif %}
        </div>
        <div class="card-content">
            <h3>{{ post.title }}</h3>
            <p>Oleh: {{ post.author }}</p>
        </div>
    </a>
    {% endfor %}
</div>